@import "styles/variables";
@import "styles/animations";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 5rem;
  width: 5rem;
  border: 0.125rem solid $color-primary;
  border-radius: 10rem;
  animation: flicker-box 2s ease-in-out forwards,
    fadeOut 2s ease-in-out forwards, enlarge 2s ease-in-out forwards;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  color: $color-primary;
  font-family: "Sacramento", cursive;
  animation: flicker-text 2s ease-in-out forwards,
    fadeOut 2s ease-in-out forwards, enlarge 2s ease-in-out forwards;
}
