@import "styles/variables";
@import "styles/animations";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 5rem;
  width: 5rem;
  border: 0.125rem solid $color-light;
  border-radius: 10rem;
  animation: fadeOut 4s ease-in-out forwards;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  color: $color-light;
  font-family: "Sacramento", cursive;
  animation: spin 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite,
    fadeOut 4s ease-in-out forwards;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
