@import "styles/variables";
@import "styles/animations";

.container {
  color: $color-secondary;
  font-family: "STIX Two Text", serif;
  visibility: hidden;
  opacity: 0;
  transform: translateY(300px);
  transition: all 0.5s ease-in-out;
  height: 100%;
}

.content {
  height: 100%;
  max-width: 1000px;
  padding: 0 86px;
  width: 100%;
  margin: auto;
}

.header {
  font-size: 32px;
  padding-bottom: 16px;
  color: #fff;
  padding-top: 24px;
}
.headerText {
  margin-bottom: -8px;
}

.number {
  color: $color-primary;
}

.body {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 0;
  display: flex;
}

.matrix {
  font-size: 10px;
  display: flex;
  align-items: center;
  color: $matrix-green;
  letter-spacing: 1px;
  overflow: hidden;
  width: 100%;
}

.show {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: $screen-md) {
  .body {
    display: block;
  }

  .content {
    padding: 0 2rem;
  }
}
