@import "styles/variables";

.button {
  background-color: transparent;
  border: 1px solid $color-light;
  padding: 1rem;
  color: $color-light;
  border-radius: 0.25rem;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    border-style: dashed;
  }

  &:active {
    background-color: $color-secondary;
  }

  transition: background-color 0.2s ease-in-out;
}
