@import "styles/variables";

.rail {
  display: flex;
  width: 100%;
  padding: 12px;
}

.selection {
  width: 40%;
  max-width: 180px;
  padding: 12px;
}

.content {
  width: 60%;
  font-size: 16px;
  height: 400px;
  padding: 12px;
  position: relative;
  overflow: hidden;
}

.option {
  width: 100%;
  font-size: 16px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border-left: 5px solid $color-light;
  }

  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.selected {
  border-left: 1px solid $color-light;
  color: $color-light;
}

.date {
  font-size: 14px;
  color: $color-secondary;
  margin-top: 4px;
}

.body {
  width: 100%;
  position: absolute;
  padding: 12px;
  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;
  height: 0;
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

  &:hover {
    transform: scale(1.05);
  }
}

.optionValueAnimation {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  height: inherit;
}

.text {
  display: flex;
  align-items: center;
  padding: 14px 0;
}

.bullet {
  width: 6px;
  height: 6px;
  max-height: 6px;
  margin: 6px;
  border: 1px solid $color-light;
  border-radius: 50%;
}

.content {
  width: 100%;
}

.listText {
  margin-left: 12px;
  font-size: 16px;
  width: calc(100% - 40px);
}

.company {
  color: $color-light;
}

.header {
  font-size: 24px;
}

@media screen and (max-width: $screen-md) {
  .rail {
    display: block;
    padding: 0;
  }

  .selection {
    width: 100%;
    max-width: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .content {
    overflow: unset;
    height: 100%;
  }

  .option {
    width: 25%;
    padding: 4px;
    font-size: 11px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
      border-left: unset;
      border-top: 5px solid $color-light;
    }

    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  .selected {
    border-left: unset;
    border-top: 1px solid $color-light;
    color: $color-light;
  }
}
