@import "styles/variables";
@import "styles/animations";

.container {
  color: $color-secondary;
  font-family: "STIX Two Text", serif;
  visibility: hidden;
  opacity: 0;
  transform: translateY(300px);
  transition: all 0.5s ease-in-out;
  padding-bottom: 24px;
  height: fit-content;
}

.content {
  height: 100%;
  max-width: 1000px;
  padding: 0 86px;
  width: 100%;
  margin: auto;
}

.header {
  font-size: 32px;
  padding-bottom: 16px;
  color: #fff;
  padding-top: 24px;
}
.headerText {
  margin-bottom: -8px;
}

.number {
  color: $color-primary;
}

.body {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 0;
  display: flex;
  border: 1px dashed #fff;
  width: 100%;
  height: 160px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.matrix {
  font-size: 10px;
  display: flex;
  align-items: center;
  color: $matrix-green;
  letter-spacing: 1px;
  overflow: hidden;
  width: 100%;
}

.show {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.comingSoon {
  position: absolute;
  left: -20%;
  white-space: nowrap;
  animation: leftToRight 4s linear infinite;
  color: $color-warning;
  font-size: 24px;
}

.underMaintenance {
  top: 12px;
  position: absolute;
  opacity: 0;
  animation: flashing 2s linear infinite;
  color: $color-warning;
  font-size: 24px;
}

@keyframes flashing {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes leftToRight {
  100% {
    left: 100%;
  }
}

@media screen and (max-width: $screen-md) {
  .content {
    padding: 0 2rem;
  }
}
