@import "styles/variables";
@import "styles/animations";

.container {
  color: $color-secondary;
  font-family: "STIX Two Text", serif;
  height: 100vh;
}

.content {
  max-width: 1000px;
  height: 100%;
  padding: 0 86px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.intro {
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0.25rem;
  color: #fff;
  opacity: 0;
  animation: slideUp 0.5s ease-in 0.3s forwards;
}

.name {
  font-weight: 700;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  margin: 1rem 0;
  color: $color-light;
  opacity: 0;
  animation: slideUp 0.5s ease-in 0.4s forwards;
}

.subtitle {
  font-weight: 700;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  color: $color-primary;
  opacity: 0;
  animation: slideUp 0.5s ease-in 0.5s forwards;
}

.body {
  padding-top: 1rem;
  max-width: 600px;
  font-size: 18px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: $color-primary;
  opacity: 0;
  animation: slideUp 0.5s ease-in 0.6s forwards;
}

.company {
  color: $color-light;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.button {
  margin: 2rem 0;
  width: 200px;
  opacity: 0;
  animation: slideUp 0.5s ease-in 0.7s forwards;
}

@media screen and (max-width: $screen-md) {
  .content {
    padding: 0 2rem;
    padding-top: 2rem;
    max-width: unset;
  }

  .name {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .body {
    font-size: 16px;
    width: 100%;
  }
}
