@import "styles/variables";

.body {
  color: $off-white;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 0;
  margin-top: 32px;
  display: flex;
  border: 1px dashed $off-white;
  width: 100%;
  height: 160px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.body.light {
  color: $light-mode-color-dark;
  border: 1px dashed $light-mode-color-dark;
}

.comingSoon {
  position: absolute;
  left: -20%;
  white-space: nowrap;
  animation: leftToRight 4s linear infinite;
  color: $color-warning;
  font-size: 24px;
}

.comingSoon.light {
  color: $light-mode-color-light;
}
.underMaintenance {
  top: 12px;
  position: absolute;
  opacity: 0;
  animation: flashing 2s linear infinite;
  color: $color-warning;
  font-size: 24px;
}

.underMaintenance.light {
  color: $light-mode-color-light;
}

@keyframes flashing {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes leftToRight {
  100% {
    left: 100%;
  }
}

@media screen and (max-width: $screen-md) {
  .content {
    padding: 0 2rem;
  }
}
