@keyframes slideDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flicker-text {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px $off-white, 0 0 11px $off-white, 0 0 19px $off-white,
      0 0 40px $color-primary, 0 0 80px $color-primary;
  }

  30%,
  40%,
  60% {
    text-shadow: none;
  }

  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

@keyframes flicker-box {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0 0 4px $off-white, 0 0 11px $off-white, 0 0 19px $off-white,
      0 0 40px $color-primary, 0 0 80px $color-primary;
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2);
  }
}
