@import "styles/variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "STIX Two Text", serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  height: 100%;
  background-color: #1d1d1d;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.clickable:hover {
  border: 1px dashed $color-secondary;
}

.clickable:active {
  background-color: $matrix-green;
  border: 1px dashed $color-secondary;
}

.clickable.light:hover {
  border: 1px dashed $light-mode-color-secondary;
}

.clickable.light:active {
  background-color: $matrix-green;
  border: 1px dashed $light-mode-color-secondary;
}
