@import "styles/variables";

.home {
  background-color: $color-dark;
}

.footer {
  color: $color-light;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

.text {
  padding: 12px;
}
