@import "styles/variables";

.home {
  background-color: $color-dark;
}

.home.light {
  background-color: $off-white;
}

.footer {
  color: $color-light;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

.text {
  padding: 12px;
}

.text.light {
  color: $light-mode-color-dark;
}

.footer.light {
  color: $light-mode-color-light;
  background-color: $off-white;
}
