$color-primary: #ccadbd;
$color-secondary: #b37b6e;
$color-dark: #1d1d1d;
$color-light: #68b1d8;
$color-warning: #d3b270;
$matrix-green: #35957f;
$off-white: #faf9f6;

$light-mode-color-primary: #015cc5;
$light-mode-color-secondary: #6e42c1;
$light-mode-color-dark: #24292f;
$light-mode-color-light: #e36208;
$light-mode-color-warning: #d3b270;
$light-mode-matrix-green: #35957f;

$screen-md: 768px;
