$color-primary: #a3ac97;
$color-secondary: #57837b;
$color-dark: #515e63;
$color-light: #f1ecc3;
$matrix-green: #39ff14;

@keyframes slideDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
